.cardContainer {
  border-radius: 25px;
  box-shadow: 5px 5px 5px #e8e8e8;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.cardTitle {
  align-self: center;
  font-weight: 700;
}

.card {
  background-image: url("../../logo/cardBackground.jpg");
  width: 325px;
  height: 175px;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.cardName {
  color: white;
  font-size: 20px;
}

.cardNumber {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  gap: 35px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardHolder {
  color: white;
  font-size: 20px;
}

.cardExpire {
  color: white;
  font-size: 20px;
}

.cardAndBalance {
  display: flex;
  justify-content: center;
}

.balanceInfo {
  border-left: 2px solid #e8e8e8;
  padding-left: 30px;
}

@media (max-width: 828px) {
  .cardContainer {
    padding: 0;
  }

  .cardAndBalance {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .cardAndBalance {
    flex-direction: column;
  }

  .balanceInfo {
    display: flex;
    border: none;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding-left: 0;
  }

  .cardContainer {
    gap: 0;
  }

  .card {
    width: 270px;
    height: 125px;
    margin-right: 0;
  }
}
