.appointmentCash {
  font-size: 14px;
  color: #aeaeae;
  text-align: start;
}

.cashMoveInfo {
  align-items: start;
  display: flex;
  flex-direction: column;
}

.balance {
  font-size: 32px;
  color: cornflowerblue;
}

.income {
  color: #439a86;
}

.outcome {
  color: #bb4430;
}
