.outcomeItem {
  display: flex;
  gap: 15px;
}

.outStatistic {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-end;
  flex-grow: 1;
}

.orange {
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #f79042 50%, #f1f1f1 0%);
}

.green {
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #2bc255 21%, #f1f1f1 0%);
  background: linear;
}

.blue {
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #70a6e8 74%, #f1f1f1 0%);
}

.statisticName {
  font-size: 16px;
}
