.outcomeStatisticsContainer {
    border-radius: 25px;
    box-shadow: 5px 5px 5px #E8E8E8;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.outcomeTitle {
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

.outcomeList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px 15px 15px;
}


