.transactionHistoryContainer {
  border-radius: 25px;
  box-shadow: 5px 5px 5px #e8e8e8;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.transactionTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 0.5px solid #ececec;
}

td {
  font-size: 16px;
}

.recieverCell {
  display: flex;
  align-items: center;
  gap: 5px;
}

.recieverCell img {
  background-color: #efefef;
  border-radius: 25%;
}

.tableName {
  color: #aeaeae;
  font-weight: 300;
  font-size: 20px;
  text-align: start;
  padding-bottom: 10px;
}

.tableHeader {
  border: none;
}

.detailsCell {
  color: #c7c7c7;
  padding-right: 30px;
}

.amountCell {
  text-align: end;
}

.endStyle {
  text-align: end;
}

@media (max-width: 600px) {
  .detailsCell.--active {
    display: none;
  }

  .tableName.--active {
    display: none;
  }
}
