.transactionHistoryContainer {
    border-radius: 25px;
    box-shadow: 5px 5px 5px #E8E8E8;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;

}

.transactionTitle {
    display: flex; 
    justify-content: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

th {
    font-weight:lighter;
    font-size: 20px;
}

tr {
    border-bottom: 0.5px solid #ECECEC;
}

td {
    font-size: 16px;
}

.reciverCell {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reciverCell
    img {
    background-color: #EFEFEF;
    border-radius: 25%;
}

.tableName {
    color: #AEAEAE;
    font-weight: lighter;
    font-size: 20px;
    text-align: start;
    padding-bottom: 10px;
}

.tableHeader {
    border: none;
}

.ditailsCell {
    color: #C7C7C7;
    padding-right: 30px;
}

.ditailsCell.active {

}

.amountCell {
    text-align: end;
}

.endStyle {
    text-align: end;
}

@media (max-width: 600px) {
    .ditailsCell.active {
        display: none;
    }

    .tableName.active {
        display: none;
    }
}