* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.mainWindow {
  background-color: #f6e0ff9e;
  display: flex;
}

.menuDashboard {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menubtn {
  display: none;
}

@media (max-width: 831px) {
  .menubtn {
    display: block;
    position: fixed;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    background: #ce91e673;
    margin: 10px 0 0 10px;
  }
}
